version: "3.8"

services:
  postgres-api-gateway:
    image: postgres:16.3-alpine
    container_name: exp-postgres-api-gateway
    restart: always
    environment:
      - POSTGRES_DB=kong
      - POSTGRES_USER=${KONG_POSTGRES_USER:-kong}
      - POSTGRES_PASSWORD=${KONG_POSTGRES_PASS:-kong}
    volumes:
      - exp-api-gateway-postgres-data:/var/lib/postgresql/data
      - ./.certs/postgres/server.crt:/etc/ssl/.certs/server.crt:ro
      - ./.certs/postgres/server.key:/etc/ssl/.certs/server.key:ro
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-d",
          "kong",
          "-U",
          "${KONG_POSTGRES_USER:-kong}"
        ]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - exp-network

  api-gateway:
    container_name: exp-api-gateway
    build: ./api-gateway
    restart: always
    depends_on:
      - postgres-api-gateway
    ports:
      - "80:8000"
      - "443:8443"
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=postgres-api-gateway
      - KONG_PG_DATABASE=kong
      - KONG_PG_USER=${KONG_POSTGRES_USER:-kong}
      - KONG_PG_PASSWORD=${KONG_POSTGRES_PASS:-kong}
      - KONG_DECLARATIVE_CONFIG=/etc/kong/declarative/kong.yaml
      - KONG_SSL=on
      - KONG_SSL_CERT=/etc/ssl/server.crt
      - KONG_SSL_CERT_KEY=/etc/ssl/server.key
      - KONG_PROXY_LISTEN=0.0.0.0:8000
      - KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
      - KONG_ADMIN_SSL_CERT=/etc/ssl/server.crt
      - KONG_ADMIN_SSL_CERT_KEY=/etc/ssl/server.key
      - DECK_API_HOSTNAME=${API_HOSTNAME:-api.exp.localhost}
      - DECK_WEB_APP_HOSTNAME=${WEB_APP_HOSTNAME:-exp.localhost}
      - DECK_WEB_APP_SERVICE=http://web-app
      - DECK_ACCOUNT_SERVICE=http://account:3000
      - DECK_BUDGETS_SERVICE=http://budgets:4000
      - DECK_CATEGORIES_SERVICE=http://categories:5000
      - DECK_EXPENSES_SERVICE=http://expenses:6000
      - DECK_INCOMES_SERVICE=http://incomes:7000
    volumes:
      - ./.certs/api-gateway:/etc/ssl/:ro
    networks:
      - exp-network

  mongo:
    image: mongo:latest
    container_name: exp-mongo
    ports:
      - "27017:27017"
    restart: always
    volumes:
      - exp-mongo-data:/data/db
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "5"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: exp-rabbitmq
    restart: always
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: "5"

  account:
    container_name: exp-account
    build: ./account
    restart: always
    ports:
      - "${ACCOUNT_PORT_HTTP:-3000}:3000"
      - "${ACCOUNT_PORT_HTTPS:-3001}:3001"
    environment:
      - TZ=${TZ:-America/Recife}
      - NODE_ENV=${NODE_ENV:-development}
      - PORT_HTTP=3000
      - PORT_HTTPS=3001
      - JWT_SECRET=${JWT_SECRET:-s1cr1tk1y}
      - SSL_CERT_PATH=/certs/server_cert.pem
      - SSL_KEY_PATH=/certs/server_key.pem
      - JWT_PRIVATE_KEY_PATH=/certs/jwt.key
      - JWT_PUBLIC_KEY_PATH=/certs/jwt.key.pub
      - ISSUER=${ISSUER:-exps}
      - ADMIN_EMAIL=${ADMIN_EMAIL:-admin@exp.com}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin123}
      - MONGODB_URI=${MONGODB_URI:-mongodb://localhost:27017/account-service}
      - MONGODB_URI_TEST=mongodb://localhost:27017/account-service-test
      - MONGODB_ENABLE_TLS=false
      - MONGODB_KEY_PATH=.certs/mongodb/client.pem
      - MONGODB_CA_PATH=.certs/mongodb/ca.pem
      - RABBITMQ_URI=${RABBITMQ_URI:-amqp://rabbitmq:5672}
      - RABBITMQ_CERT_PATH=.certs/rabbitmq/cert.pem
      - RABBITMQ_KEY_PATH=.certs/rabbitmq/key.pem
      - RABBITMQ_CA_PATH=.certs/rabbitmq/ca.pem
      - RABBITMQ_RPC_TIMEOUT=15000
      - DASHBOARD_HOST=${DASHBOARD_HOST:-http://localhost:4200}
      - INTERNAL_GATEWAY_API_URL=${INTERNAL_GATEWAY_API_URL:-http://api-gateway:8001}
    volumes:
      - ./.certs/account:/certs:ro
      - ./logs:/usr/src/account/logs
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 100m

  budgets:
    container_name: exp-budgets
    build: ./budgets
    restart: always
    ports:
      - "${BUDGETS_PORT_HTTP:-4000}:4000"
      - "${BUDGETS_PORT_HTTPS:-4001}:4001"
    environment:
      - TZ=${TZ:-America/Recife}
      - NODE_ENV=${NODE_ENV:-development}
      - PORT_HTTP=4000
      - PORT_HTTPS=4001
      - ISSUER=${ISSUER:-exps}
      - MONGODB_URI=${MONGODB_URI:-mongodb://localhost:27017/budgets-service-test}
      - MONGODB_URI_TEST=mongodb://localhost:27017/budgets-service-test
      - MONGODB_ENABLE_TLS=false
      - MONGODB_KEY_PATH=.certs/mongodb/client.pem
      - MONGODB_CA_PATH=.certs/mongodb/ca.pem
      - RABBITMQ_URI=${RABBITMQ_URI:-amqp://rabbitmq:5672}
      - RABBITMQ_CERT_PATH=.certs/rabbitmq/cert.pem
      - RABBITMQ_KEY_PATH=.certs/rabbitmq/key.pem
      - RABBITMQ_CA_PATH=.certs/rabbitmq/ca.pem
      - RABBITMQ_RPC_TIMEOUT=15000
    volumes:
      - ./.certs/budgets:/certs:ro
      - ./logs:/usr/src/budgets/logs
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 100m

  categories:
    container_name: exp-categories
    build: ./categories
    restart: always
    ports:
      - "${CATEGORIES_PORT_HTTP:-5000}:5000"
      - "${CATEGORIES_PORT_HTTPS:-5001}:5001"
    environment:
      - TZ=${TZ:-America/Recife}
      - NODE_ENV=${NODE_ENV:-development}
      - PORT_HTTP=5000
      - PORT_HTTPS=5001
      - ISSUER=${ISSUER:-exps}
      - MONGODB_URI=${MONGODB_URI:-mongodb://localhost:27017/categories-service-test}
      - MONGODB_URI_TEST=mongodb://localhost:27017/categories-service-test
      - MONGODB_ENABLE_TLS=false
      - MONGODB_KEY_PATH=.certs/mongodb/client.pem
      - MONGODB_CA_PATH=.certs/mongodb/ca.pem
      - RABBITMQ_URI=${RABBITMQ_URI:-amqp://rabbitmq:5672}
      - RABBITMQ_CERT_PATH=.certs/rabbitmq/cert.pem
      - RABBITMQ_KEY_PATH=.certs/rabbitmq/key.pem
      - RABBITMQ_CA_PATH=.certs/rabbitmq/ca.pem
      - RABBITMQ_RPC_TIMEOUT=15000
    volumes:
      - ./.certs/categories:/certs:ro
      - ./logs:/usr/src/categories/logs
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 100m

  expenses:
    container_name: exp-expenses
    build: ./expenses
    restart: always
    ports:
      - "${EXPENSES_PORT_HTTP:-6000}:6000"
      - "${EXPENSES_PORT_HTTPS:-6001}:6001"
    environment:
      - TZ=${TZ:-America/Recife}
      - NODE_ENV=${NODE_ENV:-development}
      - PORT_HTTP=6000
      - PORT_HTTPS=6001
      - ISSUER=${ISSUER:-exps}
      - MONGODB_URI=${MONGODB_URI:-mongodb://localhost:27017/expenses-service-test}
      - MONGODB_URI_TEST=mongodb://localhost:27017/expenses-service-test
      - MONGODB_ENABLE_TLS=false
      - MONGODB_KEY_PATH=.certs/mongodb/client.pem
      - MONGODB_CA_PATH=.certs/mongodb/ca.pem
      - RABBITMQ_URI=${RABBITMQ_URI:-amqp://rabbitmq:5672}
      - RABBITMQ_CERT_PATH=.certs/rabbitmq/cert.pem
      - RABBITMQ_KEY_PATH=.certs/rabbitmq/key.pem
      - RABBITMQ_CA_PATH=.certs/rabbitmq/ca.pem
      - RABBITMQ_RPC_TIMEOUT=15000
    volumes:
      - ./.certs/expenses:/certs:ro
      - ./logs:/usr/src/expenses/logs
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 100m

  incomes:
    container_name: exp-incomes
    build: ./incomes
    restart: always
    ports:
      - "${INCOMES_PORT_HTTP:-7000}:7000"
      - "${INCOMES_PORT_HTTPS:-7001}:7001"
    environment:
      - TZ=${TZ:-America/Recife}
      - NODE_ENV=${NODE_ENV:-development}
      - PORT_HTTP=7000
      - PORT_HTTPS=7001
      - ISSUER=${ISSUER:-exps}
      - MONGODB_URI=${MONGODB_URI:-mongodb://localhost:27017/incomes-service-test}
      - MONGODB_URI_TEST=mongodb://localhost:27017/incomes-service-test
      - MONGODB_ENABLE_TLS=false
      - MONGODB_KEY_PATH=.certs/mongodb/client.pem
      - MONGODB_CA_PATH=.certs/mongodb/ca.pem
      - RABBITMQ_URI=${RABBITMQ_URI:-amqp://rabbitmq:5672}
      - RABBITMQ_CERT_PATH=.certs/rabbitmq/cert.pem
      - RABBITMQ_KEY_PATH=.certs/rabbitmq/key.pem
      - RABBITMQ_CA_PATH=.certs/rabbitmq/ca.pem
      - RABBITMQ_RPC_TIMEOUT=15000
    volumes:
      - ./.certs/incomes:/certs:ro
      - ./logs:/usr/src/incomes/logs
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 100m

  notification:
    container_name: exp-notification
    build: ./notification
    restart: always
    ports:
      - "${NOTIFICATION_PORT_HTTP:-9000}:9000"
      - "${NOTIFICATION_PORT_HTTPS:-9001}:9001"
    environment:
      - TZ=${TZ:-America/Recife}
      - NODE_ENV=${NODE_ENV:-development}
      - SSL_CERT_PATH=/certs/server_cert.pem
      - SSL_KEY_PATH=/certs/server_key.pem
      - SQLITE_ENABLE_LOGS=${SQLITE_ENABLE_LOGS:-false}
      - SQLITE_URI=${SQLITE_URI:-sqlite::memory:}
      - SQLITE_URI_TEST=${SQLITE_URI_TEST:-sqlite::memory:}
      - SQLITE_ENABLE_TLS=${SQLITE_ENABLE_TLS:-false}
      - SQLITE_KEY_PATH=/certs/sqlite/client.pem
      - SQLITE_CA_PATH=/certs/sqlite/ca.pem
      - RABBITMQ_URI=${RABBITMQ_URI:-amqp://guest:guest@rabbitmq:5672}
      - RABBITMQ_CERT_PATH=/certs/rabbitmq/cert.pem
      - RABBITMQ_KEY_PATH=/certs/rabbitmq/key.pem
      - RABBITMQ_CA_PATH=/certs/rabbitmq/ca.pem
    volumes:
      - ./.certs:/certs:ro
      - ./logs:/usr/src/notification/logs
    networks:
      - exp-network
    logging:
      driver: json-file
      options:
        max-size: 100m

volumes:
  exp-api-gateway-postgres-data:
    name: exp-api-gateway-postgres
  exp-mongo-data:
    name: exp-mongo-data

networks:
  exp-network:
    name: exp-network
    driver: bridge
